<div class="mypage-page">
  <h1 class="mypage-title">自分の投稿</h1>
  <div class="mypage-actionsRow">
    <%= link_to "マイページへ戻る", mypage_path, class: "mypage-btn2" %>
    <%= link_to "新規投稿", new_post_path, class: "mypage-btn2 mypage-btn2--primary" %>
  </div>

  <div class="mypage-list">
    <% @my_posts.each do |post| %>
      <article class="mypage-card mypage-post">
        <div class="mypage-post__title">
          <%= link_to post.title, post_path(post), class: "mypage-post__link" %>
        </div>
        <div class="mypage-post__meta">
          国: <span class="mypage-post__meta-strong"><%= post.country&.name_ja || "未設定" %></span>
          <span class="mypage-dot">/</span>
          <%= l(post.created_at, format: :short) %>
        </div>
      </article>
    <% end %>
  </div>
</div>